name: Keep Backend Awake
on:
  schedule:
    - cron: '*/5 * * * *'   # every 5 minutes
jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping backend
        run: curl -X GET https://a2sv-companion.onrender.com/ping
      - name: Log time
        run: echo "Pinged at $(date)"